BACKEND_IMAGE=newsletter-backend
BACKEND_IMAGE_VERSION=latest
FRONTEND_IMAGE=newsletter-front
FRONTEND_IMAGE_VERSION=latest
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=newsletter
CORS_ORIGIN=http://localhost,http://localhost:3000
